.shop {
	display: flex;
	margin-left: 4.25rem;
	justify-content: center;
	margin-top: 3.12rem;

	&__items {
		position: relative;
		width: 5.63rem;
		width: 21.88rem;

		&__search {
			z-index: 10;
			width: 17.13rem;
		}
	}

	&__shop__products {
		flex-basis: 60%;
		flex-grow: 1;
	}
}

@media (max-width: 37.5rem) {
	.shop {
		margin-top: 31.25rem;
		flex-wrap: wrap;
		margin-left: 0;
	}
}

@media (max-width: 58.25rem) {
	.shop {
		margin-top: 11rem;
	}
}
