.product {
	display: flex;
	flex-flow: row wrap;

	&__item {
		margin: 0 0 1.87rem 1.25rem;
		height: 21.88rem;
		width: 15.63rem;
	}

	@media (max-width: 37.5rem) {
		&__item {
			margin: 0 0.37rem 0.62rem 0.31rem;
		}
	}
}

@media (max-width: 37.5rem) {
	.product {
		flex-basis: 70%;
		flex-grow: 1;
		justify-content: center;
	}
}
