.product {
	display: flex;
	flex-flow: row wrap;

	&__item {
		margin: 0 0 30px 20px;
		height: 350px;
		width: 250px;
	}

	@media (max-width: 600px) {
		&__item {
            margin: 0 6px 10px 5px;
		}
	}
}

@media (max-width: 600px) {
	.product {
		flex-basis: 70%;
		flex-grow: 1;
		justify-content: center;
	}
}
