.logo {
	display: flex;
	text-align: right;
	margin-top: 0.62rem;
    margin-right: 0.62rem;

	&__img {
		height: 6.25rem;
		display: flex;

		&__logo-1 {
			height: 80%;
			margin-bottom: 0.62rem;
		}

		&__logo-2 {
			height: 65%;
			margin-top: 0.43rem;
		}

		&__line {
			width: 0.12rem;
			height: 5rem;
			background-color: #f5f5f5;
			margin: 0  0.93rem 0 0.93rem;
		}
	}

	&__text {
		margin: 0.93rem 1.56rem  0 0.31rem;
		color: #717981;
		width:  9.37rem;
		font-size: 1.3rem;
		text-align: left;
	}
}
