@import "~font-awesome/scss/font-awesome";

.search {
	width: 35.5rem;
	z-index: 20;

	&__input {
		width: 22rem;
		margin-bottom: 0.62rem;
	}
	&__input:focus {
		width: 35.5rem;
		padding-left: 1.68rem;
	}
}

.search:focus {
	width: 35.5rem;
	font-weight: bold;
	color: #000;
	border: none;
	z-index: 10;
}

.fa-search {
	margin: 0.43rem;
	position: relative;
	left: 2.18rem;
}

.fa-search:focus {
	color: #808080;
}
