@import "~font-awesome/scss/font-awesome";

.search {
	width: 568px;
	z-index: 20;

	&__input {
		width: 250px;
		margin-bottom: 10px;
	}
	&__input:focus {
		width: 568px;
		padding-left: 27px;
	}
}

.search:focus {
	width: 568px;
	font-weight: bold;
	color: #000;
	border: none;
	z-index: 10;
}

.fa-search {
	margin: 7px;
	position: relative;
	left: 35px;
}

.fa-search:focus {
	color: #808080;
}
