.picture {
	position: relative;
	margin: 0.93rem;

	&__living_room {
		object-position: left;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		height: auto;
	}

	&__stars {
		position: absolute;
		z-index: 3;
		top: 9.37rem;
		left: 1.87rem;
		max-width: 100%;
		height: auto;
	}

	&__square {
		justify-content: right;
		background-color: azure;
		z-index: -1;
		position: absolute;
		top: 5.62rem;
		left: -3.12rem;
		height: 27.5rem;
		width: 25rem;
	}
}
