.picture {
	justify-content: right;
    position: relative;
    display: flex;
    
	&__living_room {
		object-fit: cover;
		width: 27.81rem;
		height: 30rem;
        object-position: left;
        z-index: 2;
	}

	&__stars {
		position: absolute;
        margin-bottom: 1.87rem;
        margin-left: 1.87rem;
        bottom: 0px;
        left: 0px;
        z-index: 3;
    }
    
    &__square {
        justify-content: right;
        background-color: azure;
        z-index: -1;
        position: absolute;
        height: 27.5rem;
        width: 26.25rem;
        margin: 5.31rem 5rem 0 0;
    }
}
