@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.topnav {
	display: flex;
	top: 0;
	position: fixed;
	background-color: #fff;
	width: 100%;
	letter-spacing: 1px;
	padding-top: 10px;
	z-index: 4;

	&__elements {
		display: flex;
		width: 100%;
		align-self: center;
		position: relative;
		justify-content: center;
		flex-wrap: wrap;

		&__logo {
			position: relative;
			font-family: "Times New Roman", serif;
		}

		@media (max-width: 26.56rem) {
			&__logo {
				display: none;
			}
		}
		&__menu {

			display: flex;

			&__item {
				position: relative;
				display: flex;
				margin-top: 1.33rem;
				font-size: 0.9rem;
				flex-wrap: wrap;
			}

			&__button {
				position: relative;
				margin-top: 1.68rem;
			}

			@media (max-width: 600px){
				&__item  {
					flex-basis: 70%;
					flex-grow: 1;
					margin-top: 0;
					margin-left: 20px;
				}
			}
		}
	}

	@media (max-width: 600px){
		&__elements  {
			margin-bottom: 30px;
		}
	}
}
