@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.topnav {
	display: flex;
	top: 0;
	position: fixed;
	height: 6.25rem;
	background-color: #fff;
	width: 100%;
	letter-spacing: 1px;
	padding-top: 10px;
	z-index: 1;


	&__elements {
		display: flex;
		width: 100%;
		align-self: center;
		position: relative;
		justify-content: center;
		flex-wrap: wrap;


		&__logo {
			position: relative;
			font-family: "Times New Roman", serif;
		}

		@media (max-width: 26.56rem) {
			&__logo {
				display: none;
			}
		}

		&__item {
			position: relative;
			display: flex; //zmienic to potem na navbar item display:flex
			margin-top: 2.65rem;
			font-size: 0.9rem;
			flex-wrap: wrap;
		}

		&__button {
			position: relative;
			margin-top: 1.68rem;
		}
	}
}
