.title {
	&__line {
		width: 4rem;
		height: 0.12rem;
		background-color: lightgray;
		margin: 0 0 1.25rem  5rem;
	}

	&__text {
		font-size: 3.12rem;
		font-family: initial;
		color: #464646;
		margin-left:  5rem;
	}
}
