.about_us {
	padding-top: 2.18rem;

	&__content {
		display: flex;
		padding-top: 1.25rem;
		flex-wrap: wrap;

		&__text {
			flex-grow: 1;
			flex-basis: 35%;
			margin-left: 7.5rem;
		}

		&__picture {
			flex-grow: 1;
			flex-basis: 35%;
		}

		@media (max-width: 56.25rem) {
			&__picture {
				flex-basis: 70%;
				margin-left: 10.63rem;
			}
		}

		@media (max-width: 37.5rem) {
			&__picture {
				margin-left: 7.5rem;
			}
		}

		@media (min-width: 18.75rem) {
			&__picture {
				margin-left: 1.25rem;
			}
		}

		@media (max-width: 56.25rem) {
			&__text {
				flex-basis: 60%;
			}
		}
	}
}

@media (max-width: 59.38rem) {
	.about_us {
		margin-top: 3.12rem;
	}
}

@media (max-width: 37.5rem) {
	.about_us {
		margin-top: 18.75rem;
	}
}
